html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Gabriela", serif;
  margin: 0;
}
.enterpriseContent {
  display: none;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.registration {
  display: none;
}
.logInWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}
.logIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.signInHead {
  font-size: 28px;
}
.signInSubhead {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}
.domain {
  color: #5f5ff0;
  font-size: 12px;
  text-decoration-line: none;
}
input {
  border-radius: 5px;
  height: 50px;
  margin: 10px 0;
}
.labels {
  font-size: 12px;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between;
}
.password {
  text-align: left;
}
.forgotPassword {
  text-align: right;
}
.logInBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf3f3;
  width: 40%;
  border-radius: 7px;
  height: 50px;
  background-color: #a048f3;
  border: 0;
}

@media (min-width: 576px) {
  .wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 100vh;
  }
  .enterpriseContent {
    display: flex;
    flex-direction: column;
    background-image: url("images/background.jpg");
    background-size: cover;
    justify-content: center;
    height: 100%;
  }
  .features {
    color: #faf3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .enterpriseSubhead {
    font-size: 12px;
  }
  .enterpriseHead {
    font-size: 18px;
    margin: 0;
  }
  .description {
    font-size: 14px;
    padding: 10px;
  }
  .demoBtn {
    background-color: #915c5c;
    color: #f7f5ee;
    border-radius: 7px;
    height: 40px;
    margin: 20px;
    border: 0;
  }
  .registration {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
  }
  .registrationBtn {
    border-radius: 7px;
    height: 30px;
    color: #444749;
    background-color: #fcfcf8;
    border: 0;
  }
  .logIn {
    width: 70%;
  }
  .email {
    font-size: 12px;
    margin-bottom: 0;
  }
}
